{:kotoba.app/id "cloud.itonami.isic-0312", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreigd2ao7fqxonfcp7zitwxvkiynn6ubob3uki5bsy7ylrdh6lwpjja", :kotoba.app/embed-url "ipfs://bafkreigd2ao7fqxonfcp7zitwxvkiynn6ubob3uki5bsy7ylrdh6lwpjja", :published {:archive "https://kotobase.net/ipfs/bafkreigd2ao7fqxonfcp7zitwxvkiynn6ubob3uki5bsy7ylrdh6lwpjja", :size 72200, :put-status 201, :get-status 200, :at "2026-08-15T13:58:17.793Z"}}
